<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDb.EndPointUrl" value="https://localhost:8081" />
    <add key="CosmosDb.AuthorizationKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="CosmosDb.DatabaseId" value="Test" />
    <add key="CosmosDb.CollectionId" value="TestCollection" />

    <add key="MongoDB.ConnectionString" value="mongodb://localhost:C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==@localhost:10255/admin?ssl=true" />
    <add key="MongoDB.DatabaseId" value="servicestack_test" />
    <add key="MongoDB.CollectionId" value="TestCollection" />
  </appSettings>
</configuration>
